@import url('https://fonts.googleapis.com/css?family=Raleway');
#text{
display:none;
}
.btn-container{
  margin: auto;
  height:44px;
  width:166.23px;
  
}
a:active{
  color:#000080;
}
body{
   background-color:#000080;
}
button{
  cursor:pointer;
  border:none;
  font-size:1.2rem !important;
  font-weight: 100;
   background:#000080;
  color:white;
  font-family:vintage;
  box-sizing:border-box;
  margin-top: 1.5em;
  padding: 5px;
  text-decoration: none;
}
body{
  font-family:vintage;
  font-size:10px;
  color:white;
}